<div class="container-fluid">
    <div class="row  ">
        <div class="col align-self-center mb-3">
            <div class="page-header font-weight-bold text-uppercase">
                <%= book.title %>
            </div>
            <div><img width="200" height="300" src="<%= book.coverImagePath %>"></div>

        </div>
        <div class="col-8 align-self-center">

            <div class="text-capitalize">
                <span class="font-weight-bold">Author:</span>
                <%= book.author.name %>
            </div>

            <div>
                <span class="font-weight-bold">Publish date:</span>
                <%= book.publishDate.toLocaleDateString() %>
            </div>


            <div>
                <span class="font-weight-bold">Page Count: </span>
                <%= book.pageCount %>
            </div>
            <div>
                <span class="font-weight-bold"> Description: </span>
                <%= book.description %>
            </div>

        </div>

    </div>
    <div class="m-3">
        <%- include('../partials/editForm.ejs',{url:`/books/${book._id}/edit`}) %>
            <%- include('../partials/deleteForm.ejs',{url:`/books/${book._id}`}) %>
                <%- include('../partials/viewForm.ejs',{url:`/authors/${book.author._id}`}) %>

    </div>
</div>