<div class="page-header">Search Authors</div>


<form class="mb-3" action="/authors" method="get">
    <div class="d-flex  align-items-stretch">
        <input type="text" class="form-control" placeholder="Name" id="name" name="name" value="<%= searchOption.name %>">
        <button class="btn btn-sm" type="submit">Search</button>
    </div>
</form>


<div>
    <% authors.forEach(author => { %>
        <div class="d-flex justify-content-between">
            <div>
                <%=author.name%>
            </div>

            <div class="d-flex justify-content-start ">
                <button class="btn btn-sm m-1"><a href="/authors/<%= author._id%>">View</a></button>
                <%- include('../partials/editForm.ejs',{url:`/authors/${author._id}/edit`}) %>
                    <%- include('../partials/deleteForm.ejs',{url:`/authors/${author._id}`}) %>
            </div>
        </div>
        <% }) %>
</div>